@font-face {
  font-family: Sukhumvit;
  src: url('./assets/fonts/Sukhumvit-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Sukhumvit-title;
  src: url('./assets/fonts/Sukhumvit-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: Sukhumvit-medium;
  src: url('./assets/fonts/Sukhumvit-Medium.ttf');
  font-display: swap;
}

body {
  margin: 0;
  font-family: Sukhumvit !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243, 243, 243);
}
